{% extends 'main/base.html' %}
{% load my_tags %}

{% block content %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ objects_list.imagine|my_media }}" class="img-fluid" alt=""></div>
                <div class="col-7">
                    <section class="teacher=info">
                        <h1 class="h2">{{ objects_list.title }}</h1>
                        <p><span class="badge bg-dark">{{ objects_list.available|available_filter }}</span>
                            {{ objects_list.price }} ₽</p>
                        <p>{{ objects_list.description }}</p>
                    </section>

                    <section class="available">
                        <a href="#" class="btn btn-outline-success mr-2">Добавить в корзину</a>
                    </section>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}